<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	</appSettings>
  <connectionStrings>
    <add name="StudentDBContext" connectionString="Server=DIDPC\\SQLEXPRESS;Database=StudentDB;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>
